* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.country-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.option {
  padding: 10px 20px;
  border: 2px solid #414141;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.selected {
  border-color: blue;
}

.incorrect {
  border-color: red;
}

.correct {
  border-color: #66cc99;
}
